<!-- <app-user-nav></app-user-nav> -->
<div class="container d-flex justify-content-center">
  <div
    class="card mt-5"
    style="width: 16rem; border: 6px solid #563e7c; border-radius: 12px"
  >
    <img
      src="./assets/images/chowmine.webp"
      class="img-fluid"
      alt="Responsive image"
      class="img card-img-top"
    />
    <div class="card-body">
      <h5 class="card-text">Name: <span style="opacity: 80%">Samosa</span></h5>
      <h5 class="card-text">Price: <span style="opacity: 80%">Rs 20</span></h5>
      <h5 class="card-text">
        Status: <span style="opacity: 80%">Cooked</span>
      </h5>

      <button type="button" class="btn btn-success mt-4">Order</button>
      <button type="button" class="btn btn-warning mt-4">Cancel</button>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div
    class="card mt-5"
    style="width: 16rem; border: 6px solid #563e7c; border-radius: 12px"
  >
    <img
      src="./assets/images/chowmine.webp"
      class="img-fluid"
      alt="Responsive image"
      class="img card-img-top"
    />
    <div class="card-body">
      <h5 class="card-text">Name: <span style="opacity: 80%">Samosa</span></h5>
      <h5 class="card-text">Price: <span style="opacity: 80%">Rs 20</span></h5>
      <h5 class="card-text">
        Status: <span style="opacity: 80%">Cooked</span>
      </h5>
      <button type="button" class="btn btn-success mt-4">Order</button>
      <button type="button" class="btn btn-warning mt-4">Cancel</button>
    </div>
  </div>
</div>